@font-face {
  font-family: "iconfont"; /* Project id 3193497 */
  src: url('iconfont.woff2?t=1682476257958') format('woff2'),
       url('iconfont.woff?t=1682476257958') format('woff'),
       url('iconfont.ttf?t=1682476257958') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuoming:before {
  content: "\e64f";
}

.icon-fanhui:before {
  content: "\e654";
}

.icon-select:before {
  content: "\e630";
}

.icon-css:before {
  content: "\e60b";
}

.icon-tupian1:before {
  content: "\e65e";
}

.icon-guanbi:before {
  content: "\e61c";
}

.icon-yidong:before {
  content: "\e667";
}

.icon-bianji:before {
  content: "\e605";
}

.icon-output:before {
  content: "\e609";
}

.icon-delete:before {
  content: "\e658";
}

.icon-add:before {
  content: "\e62a";
}

.icon-jiedianguanli:before {
  content: "\e614";
}

.icon-yanjiu:before {
  content: "\e63b";
}

.icon-shaixuan:before {
  content: "\e65c";
}

.icon-chakan:before {
  content: "\e603";
}

.icon-yulan:before {
  content: "\e604";
}

.icon-import:before {
  content: "\e60a";
}

.icon-set:before {
  content: "\e602";
}

.icon-caozuozhankai:before {
  content: "\e63f";
}

.icon-fsux_tubiao_gongshi_jisuan:before {
  content: "\e600";
}

.icon-tupian:before {
  content: "\e668";
}

.icon-liebiaomoshi:before {
  content: "\e601";
}

.icon-yuandaimaxiayoudaima:before {
  content: "\e7ae";
}

.icon--baocun:before {
  content: "\e606";
}

.icon-json:before {
  content: "\e60e";
}

.icon-lianjie:before {
  content: "\e65f";
}

.icon-restore:before {
  content: "\e673";
}

.icon-paper:before {
  content: "\e640";
}

.icon-zhanshizhongxin:before {
  content: "\e67b";
}

